---
  faspex:
    user:
    pass:
    url:
  node:
    user:
    pass:
    url:
  cos:
    bucket:
    endpoint:
    key:
    crn:
    auth:
  coscreds:
    bucket:
    service_credential_file:
    region:
  aoc:
    org:
    user_email:
    private_key_path:
    client_id:
    client_secret:
    workspace:
    shared_inbox:
